body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif  !important;
}

footer{
  font-size: small;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.container{
  min-height: 10em;
  margin-bottom: 3.5em;
}

.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}

.navbar{
  a{
    color: white;
  }
}
