#quiz-index{
  .card-space{
    padding: 10px;
  }
}

#quiz_result{
  .result_mark{
    margin-bottom: 0px;
    text-align: center;
    .correct{
      font-weight: bold;
      font-size: 250%;
    }
    .uncorrect{
      font-size: 250%;
      font-weight: bold;
    }
  }
  .card{
    margin: 1em 0em;
  }
}

#quiz-show{
  .card{
    margin: 1em 0em;
  }
}

#quiz-ranking{
  .fa-medal{
    color: orange;
  }
  .fa-crown{
    color: orange;
  }
  ul{
    width: 100%;
  }
  p{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 0.75em;
    margin-bottom: 0em;
    margin-top: 0.75em;
  }
}